# Dependencies
node_modules/

# Next.js
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Env & secrets
.env
.env*.local
*.pem
*.key

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Screenshots & tmp
/tmp/
